.idea

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Offline Directories
.dynamodb

# Environment File
src/v1.env.yml
src/production.env.yml
src/.env.yml
